/* You can add global styles to this file, and also import other style files */
@import "colors";

* {
  font-family: 'Libre Franklin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: $grey-2;
  &.bold {
    font-weight: 600;
  }
}

p, span {
  font-size: 16px;
  color: $grey;
  line-height: 1.8em;
}

.container {
}

.btn{
  padding: .6em 1.2em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 100px;
  &-primary {
    background-color: $primary;
    border: none;
    &:hover {
      background-color: $primary-darker;
    }
  }
  &-ghost {
    background-color: transparent;
    color: $grey-1;
    border: 1px solid $grey;
    &-light {
      background-color: transparent;
      color: white;
      border: 1px solid white;
    }
    &:hover {
      color: $primary-darker;
      border: 1px solid $primary-darker;
    }
  }
  &-simple {
    background-color: transparent;
    color: $primary;
    border: none;
    &:hover {
      color: $primary-darker;
    }
  }
}

.bg-placeholder {
  background-color: #4A4A4A;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.card {
  padding: 0;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
  height: 100%;
  overflow: hidden;

  &-p {
    padding: 1em;
  }
}

.progress-bar {
  background-color: $primary;
}

//ANIMATION
.slide-down-enter-active, .slide-down-leave-active {
  -webkit-transition: all 650ms;
  -moz-transition: all 650ms;
  -ms-transition: all 650ms;
  -o-transition: all 650ms;
  transition: all 650ms;
}
.slide-down-enter, .slide-down-leave-to {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
